*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body{
    background: #040924;
}

.container{
    height: 100vh;
    display: grid;
    place-content: center;
}

.card{
    max-width: 42.8rem;
    background: white;
    padding: 4.8rem 6.4rem 6.4rem;
    border-radius: .6rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}


h1, h2{
    color: #0C3440;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem; /* 125% */
}

form{
    width: 30rem;
    margin-top: 1.6rem;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    color: #00453A;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem; /* 128.571% */
    margin-bottom: .8rem;
}

.input-wrapper input{
    display: flex;
    padding: 1.6rem;
    gap: 1rem;
    /* width: 100%; */

    border-radius: .4rem;
    border: 1px solid #02799D;
    background: #DCE2E9;
    margin-bottom: 1.6rem;
}

form button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    gap: .8rem;
    margin-top: 1.6rem;
    width: 100%;
    border-radius: .4rem;
    cursor: pointer;
    border: none;
    background: #02799D;



    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.0rem; /* 125% */

    transition: background .3s;

}

form button:hover{
    background: #016b8b;
}

.alertError{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.0rem;
    padding: 1rem 0;
    background: #F03E3E; 

    visibility: hidden;
    opacity: 0;

    transform: translateY(-3rem);
    transition: transform .5s ;

}

.alertError.open{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.modal-wrapper{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: grid;
    place-content: center;

    visibility: hidden;
    opacity: 0;
}

.modal-wrapper.open{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
}

.modal button{
    background: none;
    border: none;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;
}

.modal button:hover{
    transform: scale(1.1);
}